name: arpack-ng
on: [push, pull_request]
jobs:
  ubuntu_latest_cmake:
    runs-on: ubuntu-latest
    steps:
      - name: Clone and check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}} # Branch where changes are implemented.
          repository: ${{github.event.pull_request.head.repo.full_name}} # Repo where changes are implemented.
      - name: Check commit
        run: |
          git log -1
      - name: Update OS
        run: sudo apt-get update
      - name: Install apt-get dependencies
        run: sudo apt-get install -y gfortran gcc g++ openmpi-bin libopenmpi-dev libblas-dev liblapack-dev cmake
      - name: Run job
        run: |
          mkdir build
          cd build
          cmake -DEXAMPLES=ON -DMPI=ON -DICB=ON ..
          make all
          CTEST_OUTPUT_ON_FAILURE=1 make test
          make package_source
  ubuntu_latest_cmake_install:
    runs-on: ubuntu-latest
    steps:
      - name: Clone and check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}} # Branch where changes are implemented.
          repository: ${{github.event.pull_request.head.repo.full_name}} # Repo where changes are implemented.
      - name: Check commit
        run: |
          git log -1
      - name: Update OS
        run: sudo apt-get update
      - name: Install apt-get dependencies
        run: sudo apt-get install -y gfortran gcc g++ openmpi-bin libopenmpi-dev libblas-dev liblapack-dev cmake
      - name: Run job
        run: |
          mkdir build
          cd build
          cmake ..
          bash ./tstCMakeInstall.sh
          bash ./tstCMakeInstall.sh 64-
          bash ./tstCMakeInstall.sh   -ILP64
          bash ./tstCMakeInstall.sh 64-ILP64
  ubuntu_latest_autotools:
    runs-on: ubuntu-latest
    steps:
      - name: Clone and check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}} # Branch where changes are implemented.
          repository: ${{github.event.pull_request.head.repo.full_name}} # Repo where changes are implemented.
      - name: Check commit
        run: |
          git log -1
      - name: Update OS
        run: sudo apt-get update
      - name: Install apt-get dependencies
        run: sudo apt-get install -y gfortran gcc g++ openmpi-bin libopenmpi-dev libblas-dev liblapack-dev automake autoconf pkg-config libtool
      - name: Run job
        run: |
          ./bootstrap
          ./configure --enable-mpi --enable-icb
          make all
          make check
          make distcheck
  ubuntu_latest_autotools_install:
    runs-on: ubuntu-latest
    steps:
      - name: Clone and check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}} # Branch where changes are implemented.
          repository: ${{github.event.pull_request.head.repo.full_name}} # Repo where changes are implemented.
      - name: Check commit
        run: |
          git log -1
      - name: Update OS
        run: sudo apt-get update
      - name: Install apt-get dependencies
        run: sudo apt-get install -y gfortran gcc g++ openmpi-bin libopenmpi-dev libblas-dev liblapack-dev automake autoconf pkg-config libtool
      - name: Run job
        run: |
          ./bootstrap
          ./configure
          bash ./tstAutotoolsInstall.sh
          bash ./tstAutotoolsInstall.sh 64-
          bash ./tstAutotoolsInstall.sh   -ILP64
          bash ./tstAutotoolsInstall.sh 64-ILP64
  ubuntu_latest_cmake_python:
    runs-on: ubuntu-latest
    steps:
      - name: Clone and check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}} # Branch where changes are implemented.
          repository: ${{github.event.pull_request.head.repo.full_name}} # Repo where changes are implemented.
      - name: Check commit
        run: |
          git log -1
      - name: Update OS
        run: sudo apt-get update
      - name: Install apt-get dependencies
        run: sudo apt-get install -y gfortran gcc g++ openmpi-bin libopenmpi-dev libblas-dev liblapack-dev cmake libeigen3-dev
      - name: Install python dependencies
        run: sudo apt-get -y install python3-minimal python3-pip python3-numpy
      - name: Build boost-python for python3 (not provided by apt-cache)
        run : |
          sudo apt-get -y install wget
          wget https://sourceforge.net/projects/boost/files/boost/1.79.0/boost_1_79_0.tar.gz
          tar -xf boost_1_79_0.tar.gz
          cd boost_1_79_0
          ./bootstrap.sh --with-libraries=python --with-python=/usr/bin/python3 --with-toolset=gcc
          sudo ./b2 toolset=gcc install
          sudo apt-get install locate
          sudo updatedb
      - name: Run job
        run: |
          mkdir build
          cd build
          cmake -DEXAMPLES=ON -DMPI=ON -DICB=ON -DICBEXMM=ON -DPYTHON3=ON ..
          make all
          CTEST_OUTPUT_ON_FAILURE=1 make test
  ubuntu_latest_autotools_ilp64:
    runs-on: ubuntu-latest
    steps:
      - name: Clone and check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}} # Branch where changes are implemented.
          repository: ${{github.event.pull_request.head.repo.full_name}} # Repo where changes are implemented.
      - name: Check commit
        run: |
          git log -1
      - name: Update OS
        run: sudo apt-get update
      - name: Install apt-get dependencies
        run: sudo apt-get install -y gfortran gcc g++ openmpi-bin libopenmpi-dev libblas-dev liblapack-dev automake autoconf pkg-config libtool libeigen3-dev
      - name: Install Intel MKL (ILP64 blas/lapack)
        run: echo yes | sudo apt-get -y install intel-mkl libmkl-dev
      - name: Run job
        run: |
          ./bootstrap
          ./configure --enable-icb --with-blas=mkl_gf_ilp64 --with-lapack=mkl_gf_ilp64
          make all
          make check
        env:
          FFLAGS: "-DMKL_ILP64 -I/usr/include/mkl"
          FCFLAGS: "-DMKL_ILP64 -I/usr/include/mkl"
          LIBS: "-Wl,--no-as-needed -L/usr/lib/x86_64-linux-gnu -lmkl_sequential -lmkl_core -lpthread -lm -ldl"
          INTERFACE64: "1"
  macos_latest_cmake:
    runs-on: macos-latest
    steps:
      - name: Clone and check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}} # Branch where changes are implemented.
          repository: ${{github.event.pull_request.head.repo.full_name}} # Repo where changes are implemented.
      - name: Check commit
        run: |
          git log -1
      - name: Update OS
        run: |
          brew uninstall --ignore-dependencies gcc
          brew update
          softwareupdate --install --all
      - name: Install brew dependencies
        run: |
          brew list --formula -1 | while read line; do brew unlink $line; done
          brew install gcc cmake mpich
          brew list --formula -1 | while read line; do brew link --overwrite $line; done
      - name: Run job
        run: |
          mkdir -p build
          cd build
          export FC=mpif90 # Uses gfortran.
          export FFLAGS="-ff2c -fno-second-underscore"
          export CC=mpicc # Uses clang.
          export CFLAGS="-Qunused-arguments"
          export CXX=mpic++ # Uses clang++.
          export CXXFLAGS="-Qunused-arguments"
          LIBS="-framework Accelerate" cmake -DBLA_VENDOR=Generic -DEXAMPLES=ON -DICB=ON -DMPI=ON ..
          make all
          CTEST_OUTPUT_ON_FAILURE=1 make test
  macos_latest_cmake_python:
    runs-on: macos-latest
    steps:
      - name: Clone and check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}} # Branch where changes are implemented.
          repository: ${{github.event.pull_request.head.repo.full_name}} # Repo where changes are implemented.
      - name: Check commit
        run: |
          git log -1
      - name: Update OS
        run: |
          brew uninstall --ignore-dependencies gcc
          brew update
          softwareupdate --install --all
      - name: Install brew dependencies
        run: |
          brew list --formula -1 | while read line; do brew unlink $line; done
          brew install gcc cmake boost-python3 eigen python3
          brew list --formula -1 | while read line; do brew link --overwrite $line; done
          pip3 install numpy
      - name: Run job
        run: |
          mkdir -p build
          cd build
          export FC=gfortran
          export FFLAGS="-ff2c -fno-second-underscore"
          export CC=clang
          export CFLAGS="-Qunused-arguments"
          export CXX=clang++
          export CXXFLAGS="-Qunused-arguments"
          LIBS="-framework Accelerate" cmake -DBLA_VENDOR=Generic -DEXAMPLES=ON -DICB=ON -DPYTHON3=ON ..
          make all
          CTEST_OUTPUT_ON_FAILURE=1 make test
  macos_latest_autotools:
    runs-on: macos-latest
    steps:
      - name: Clone and check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}} # Branch where changes are implemented.
          repository: ${{github.event.pull_request.head.repo.full_name}} # Repo where changes are implemented.
      - name: Check commit
        run: |
          git log -1
      - name: Update OS
        run: |
          brew uninstall --ignore-dependencies gcc
          brew update
          softwareupdate --install --all
      - name: Install brew dependencies
        run: |
          brew list --formula -1 | while read line; do brew unlink $line; done
          brew install gcc autoconf automake libtool pkg-config mpich
          brew list --formula -1 | while read line; do brew link --overwrite $line; done
      - name: Run job
        run: |
          ./bootstrap
          LIBS="-framework Accelerate" FFLAGS="-ff2c -fno-second-underscore" FCFLAGS="-ff2c -fno-second-underscore" ./configure --enable-icb --enable-mpi
          make all
          make check
  windows_latest_cmake:
    runs-on: windows-latest
    defaults:
      run:
        # Use MSYS2 as default shell
        shell: msys2 {0}
    steps:
      - name: Install MSYS2 build environment
        uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: MINGW64
          install: >-
            base-devel
            git
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-gcc-fortran
            mingw-w64-x86_64-openblas
      - name: Clone and check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}} # Branch where changes are implemented.
          repository: ${{github.event.pull_request.head.repo.full_name}} # Repo where changes are implemented.
      - name: Check commit
        run: |
          git log -1
      - name: Run job
        run: |
          mkdir -p build && cd build
          cmake -GNinja -DICB=ON .. # -DEXAMPLES=ON KO
          cmake --build . -v
          ctest --output-on-failure
